.footer {
  background-color: #01487c; /* Light neutral blue matching the section's background */
  color: #2c3e50; /* Dark muted blue for text */
  padding: 40px 20px;
  text-align: center;
}

.footer p {
  color: white; /* Soft grey text for paragraphs */
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.section {
  flex: 1 1 250px;
  margin: 10px;
}

.footer-title {
  font-size: 1.5em;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: white; /* Dark muted blue for titles */
}

.links {
  list-style: none;
  padding: 0;
}

.link {
  color: white ; /* Soft dark blue for links */
  text-decoration: none;
  margin: 5px 0;
  display: block;
  transition: color 0.3s;
}

.link:hover {
  color: #97a109; /* Bright blue for hover effect */
}

.socialMedia {
  margin: 20px 0;
}

.icon {
  margin: 0 10px;
  color: #34495e; /* Soft dark blue for social icons */
  font-size: 1.5em;
  text-decoration: none;
  transition: color 0.3s;
}

.icon:hover {
  color: #97a109; /* Bright blue for hover */
}

.copyRight {
  font-size: 0.9em;
  margin-top: 10px;
  color: #95a5a6; /* Soft grey for copyright */
}
